body {
    background-color: rgb(216, 216, 216);
}

.container-fluid {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
    width: auto;
}

.row {
    margin-top: 1rem;
    margin-left: 1rem;
}

.btn {
    margin-right: 1rem;
    margin-left: 1rem;
    width: auto !important;
}

.list-group-item {
    background-color: transparent;
    font-size: 35px;
}

.dropdown-menu {         
    max-height: 200px;
    max-width: 200px;
    overflow-y: auto;
}

input {
    margin-left: 1rem;
    background-color:rgba(0,0,0,0) !important;
    border-color: black !important;
    border-width: 0.75px !important;
}

input,
.input-group {
  width: 500px;
}

#wordcloud.container-fluid {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
    width: auto;
    height: 400px;
}

.slidecontainer {
    margin-left:  -1rem;
    margin-top: 1rem;
}

.highlight {
    background-color: yellow;
}
