body {
    background-color: rgb(216, 216, 216);
}

.container-fluid {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
    width: auto;
}

.row {
    margin-top: 1rem;
    margin-left: 1rem;
}

.btn {
    margin-right: 1rem;
    margin-left: 1rem;
    width: auto !important;
}

.list-group-item {
    background-color: transparent;
    font-size: 35px;
}

.dropdown-menu {         
    max-height: 200px;
    max-width: 200px;
    overflow-y: auto;
}

input {
    margin-left: 1rem;
    background-color:rgba(0,0,0,0) !important;
    border-color: black !important;
    border-width: 0.75px !important;
}

input,
.input-group {
  width: 500px;
}

#wordcloud.container-fluid {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
    width: auto;
    height: 400px;
}

.slidecontainer {
    margin-left: 1rem;
    margin-top: 1rem;
}

.highlight {
    background-color: yellow;
}

#cloud {
    width: auto;
    height: 400px;
}

/* Slider CSS taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slidecontainer {
    background-color: #e0e0e0;
    margin-bottom: 1rem;
    margin-left: -2.5px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
